ul{
    list-style-type: none;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: auto;
}

.gallery-item{

    flex-basis: calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}

img{
    width: 100%; 
    height: 100%;
}